{
  "openWithInventory" : true,
  
  "gui" : {
	"panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/letheia/letheiaheader.png",
      "fileBody" : "/interface/merchant/buybody.png?multiply=FFFFFF00",
      "fileFooter" : "/interface/letheia/letheiafooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 242]
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "  Merchant",
      "subtitle" : "  ^#b9b5b2;Buy and sell your goods here!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/merchant/merchanticon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },

    "bgShine" : {
      "type" : "image",
      "file" : "/interface/merchant/shine.png",
      "position" : [0, -12],
      "zlevel" : 1,
      "mouseTransparent" : true
    },

    "buy_layout" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [0, 0, 185, 261],
      "children" : {
        "background" : {
          "type" : "image",
          "file" : "/interface/letheia/letheiavendingbody.png",
          "position" : [0, 22],
          "mouseTransparent" : true,
          "zlevel" : -99999999
        },

        "recipe" : {
          "type": "scrollArea",
          "zlevel": 1,
          "rect": [
            7,
            62,
            174,
            216
          ],
          "children": {
            "list" : {
            "type" : "list",
            "callback" : "recipeSelected",
            "schema" : {
              "selectedBG" : "/interface/merchant/itemselected.png",
              "unselectedBG" : "/interface/merchant/itembackground.png",
              "spacing" : [0, 1],
              "memberSize" : [156, 20],
              "listTemplate" : {
                "background" : {
                  "type" : "image",
                  "file" : "/interface/merchant/itembackground.png",
                  "position" : [0, 0],
                  "zlevel" : -1
                },
                "itemName" : {
                  "type" : "label",
                  "position" : [22, 18],
                  "hAnchor" : "left",
                  "vAnchor" : "top",
                  "wrapWidth" : 116,
                  "lineSpacing" : 1.05,
                  "value" : "Replace Me"
                },
                "itemIcon" : {
                  "type" : "itemslot",
                  "position" : [1, 1],
                  "callback" : "null",
                  "showBackingImageWhenEmpty" : false,
                  "showBackingImageWhenFull" : false,
                  "showRarity" : true,
                  "showDurability" : false,
                  "showCount" : false
                },
                "moneyIcon" : {
                  "type" : "image",
                  "position" : [108, 1],
                  "file" : "/interface/money.png"
                },
                "priceLabel" : {
                  "type" : "label",
                  "position" : [153, 0],
                  "hAnchor" : "right",
                  "value" : "0"
                },
                "unavailableoverlay" : {
                  "type" : "image",
                  "file" : "/interface/merchant/unavailableoverlay.png",
                  "position" : [0, 0],
                  "zlevel" : 1
                }
              }
            }
          }
          }
        },

        "Craft" : {
          "callback" : "buy",
          "type" : "button",
          "base" : "/interface/merchant/button.png",
          "hover" : "/interface/merchant/buttonhover.png",
          "position" : [110, 30],
          "caption" : "Buy"
        },

        "imgAmountInput" : {
            "type" : "image",
            "file" : "/interface/merchant/amount.png",
            "position" : [20, 50],
            "zlevel" : -3
        },
        
        "craftcountSpinner_up" : {
          "type" : "button",
          "base" : "/interface/crafting/pickright.png",
          "hover" : "/interface/crafting/pickrightover.png",
          "pressedOffset" : [1, -1],
          "position" : [54, 51],
          "zlevel" : -1
        },

        "craftcountNumber" : {
          "type" : "textbox",
          "position" : [25, 51],
          "textAlign" : "center",
          "maxWidth" : 18,
          "regex" : "x?\\d{0,4}",
          "escapeKey" : "close_craft_box",
          "enterKey" : "close_craft_box",
          "hint" : "x0"
        },

        "craftcountSpinner_down" : {
          "type" : "button",
          "base" : "/interface/crafting/pickleft.png",
          "hover" : "/interface/crafting/pickleftover.png",
          "pressedOffset" : [-1, -1],
          "position" : [10, 51],
          "zlevel" : -1
        },

        "lblBuyTotalCaption" : {
          "type" : "label",
          "fontSize" : 8,
          "position" : [113, 51],
          "value" : "TOTAL COST",
          "hAnchor" : "right"
        },

        "imgBuyMoneyIcon" : {
          "type" : "image",
          "file" : "/interface/merchant/pixels.png",
          "position" : [115, 53],
          "zlevel" : -3
        },

        "lblBuyTotal" : {
          "type" : "label",
          "fontSize" : 8,
          "position" : [127, 51],
          "value" : "999999"
        },

        "imgCraftBg" : {
            "type" : "image",
            "file" : "/interface/crafting/search.png",
            "position" : [7, 30],
            "mouseTransparent" : true,
            "zlevel" : -5
        },

        "recipe_search_box" : {
          "type" : "textbox",
          "position" : [23, 32],
          "textAlign" : "left",
          "maxWidth" : 70,
          "callback" : "filter_recipe",
          "escapeKey" : "close_search_box",
          "enterKey" : "close_search_box",
          "hint" : "Search"
        }
      }
    },

    "sell_layout" : {
      "type" : "layout",
      "layoutType" : "basic",
      "visible" : false,

      "rect" : [0, 0, 185, 261],
      "children" : {
        "background" : {
          "type" : "image",
          "file" : "/interface/merchant/sellbody.png",
          "position" : [0, 22],
          "mouseTransparent" : true,
          "zlevel" : -99999999
        },

        "lblSellTotalCaption" : {
          "type" : "label",
          "fontSize" : 8,
          "position" : [97, 51],
          "value" : "SELL VALUE",
          "hAnchor" : "right"
        },

        "imgSellMoneyIcon" : {
          "type" : "image",
          "file" : "/interface/merchant/pixels.png",
          "position" : [101, 53],
          "zlevel" : -3
        },

        "lblSellTotal" : {
          "type" : "label",
          "fontSize" : 8,
          "position" : [115, 51],
          "value" : "0"
        },

        "btnSell" : {
          "callback" : "sell",
          "type" : "button",
          "base" : "/interface/merchant/button.png",
          "hover" : "/interface/merchant/buttonhover.png",
          "position" : [63, 30],
          "caption" : "Sell"
        },

        "itemslot_1" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_2" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_3" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_4" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_5" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_6" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_7" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [13, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_8" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_9" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_10" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_11" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_12" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_13" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_14" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [32, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_15" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_16" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_17" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_18" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_19" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_20" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_21" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [51, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_22" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_23" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_24" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_25" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_26" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_27" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_28" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [70, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_29" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_30" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_31" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_32" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_33" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_34" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_35" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [89, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_36" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_37" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_38" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_39" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_40" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_41" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_42" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [108, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_43" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_44" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_45" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_46" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_47" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_48" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_49" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [127, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },

        "itemslot_50" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 187],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_51" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 168],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_52" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 149],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_53" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 130],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_54" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 111],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_55" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 92],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        },
        "itemslot_56" : {
          "rightClickCallback" : "null",
          "type" : "itemslot",
          "position" : [146, 73],
          "backingImage" : "/interface/inventory/empty.png",
          "zlevel" : 2,
          "showRarity" : true,
          "showBackingImageWhenFull" : false,
          "showBackingImageWhenEmpty" : true
        }
      }
    },    

    "tab_radioGroup" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "callback" : "tab_radioGroup",
      "position" : [3, 216],  
      "buttons" : [
        {
          "id" : 0,
          "baseImage": "/interface/tabs/tabbase.png",
          "hoverImage": "/interface/tabs/tabover.png",
          "baseImageChecked" : "/interface/tabs/tabselected.png",
          "hoverImageChecked" : "/interface/tabs/tabselectedover.png",
          "caption" : "Buy",
          "pressedOffset": [ 0, 0 ],
          "selected": true
        }
      ]
    }
    
  },

  "sounds" : {
    "crafting" : "/sfx/interface/crafting_hands.ogg"
  },
  
  "scripts" : [ "/d8lib-vendingmachine_custom_pane/scripts/interface/scriptedcraftpane/vending_machine_and_merchant_pane.lua" ],
  "scriptDelta" : 1,

  "scriptWidgetCallbacks" : [
    "buy",
    "sell",
    "recipeSelected",
    "none",
    "craftcountSpinner_up",
    "craftcountSpinner_down",
    "craftcountNumber",
    "recipe_search_box",
    "filter_recipe",
    "close_search_box",
    "close_craft_box",
    "tab_radioGroup",

    "itemslot_1",
    "itemslot_2",
    "itemslot_3",
    "itemslot_4",
    "itemslot_5",
    "itemslot_6",
    "itemslot_7",
    "itemslot_8",
    "itemslot_9",
    "itemslot_10",
    "itemslot_11",
    "itemslot_12",
    "itemslot_13",
    "itemslot_14",
    "itemslot_15",
    "itemslot_16",
    "itemslot_17",
    "itemslot_18",
    "itemslot_19",
    "itemslot_20",
    "itemslot_21",
    "itemslot_22",
    "itemslot_23",
    "itemslot_24",
    "itemslot_25",
    "itemslot_26",
    "itemslot_27",
    "itemslot_28",
    "itemslot_29",
    "itemslot_30",
    "itemslot_31",
    "itemslot_32",
    "itemslot_33",
    "itemslot_34",
    "itemslot_35",
    "itemslot_36",
    "itemslot_37",
    "itemslot_38",
    "itemslot_39",
    "itemslot_40",
    "itemslot_41",
    "itemslot_42",
    "itemslot_43",
    "itemslot_44",
    "itemslot_45",
    "itemslot_46",
    "itemslot_47",
    "itemslot_48",
    "itemslot_49",
    "itemslot_50",
    "itemslot_51",
    "itemslot_52",
    "itemslot_53",
    "itemslot_54",
    "itemslot_55",
    "itemslot_56"
  ]
                      
}